.footer{
    text-align: center;
    background-color: rgb(61, 102, 125);
    height: 50px;
    position:sticky;
    margin-top: 50px;
    padding: 30px;
}

.footer p{
    color: #ffffff;
    margin-top: 0px;
}
