.search-wrapper input{
    width: 50%;

}
.search-wrapper{
    padding:30px;
    text-align: center;
}

.search-wrapper button{
color: rgb(255, 255, 255);
background-color: rgb(33, 34, 34);
border: 1px black solid;
padding: 2px;
}